# 12 MHz clock
set_io -nowarn CLK      35

# Set clock pin frequency for nextpnr-ice40 to 12MHz
set_frequency CLK       12

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# PMOD 1B
set_io -nowarn P1B1       43
set_io -nowarn P1B2       38
set_io -nowarn P1B3       34
set_io -nowarn P1B4       31
set_io -nowarn P1B7       42
set_io -nowarn P1B8       36
set_io -nowarn P1B9       32
set_io -nowarn P1B10      28

# LEDs and Button
set_io -nowarn BTN_N      10

