.vscode
doc/_build
rtl/tb/*.out
rtl/tb/*.vcd
lib/*.o
examples/**/*.hex
examples/**/*.bin
examples/**/*.elf
examples/**/*.lst
examples/**/*.o
src/**/*.hex
src/**/*.bin
src/**/*.elf
src/**/*.lst
src/**/*.o
rtl/**/*.log
rtl/**/*.asc
rtl/**/*.bin
rtl/**/*.json
rtl/**/*.history
rtl/tb/*.hex
rtl/ulx3s/*.hex
rtl/sim/logs
rtl/sim/obj_dir
rtl/sim/program.hex
